<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appicon</key>
	<dict>
		<key>images</key>
		<array>
			<dict>
				<key>size</key>
				<string>20x20</string>
				<key>idiom</key>
				<string>iphone</string>
				<key>filename</key>
				<string>icon-20@2x.png</string>
				<key>scale</key>
				<string>2x</string>
			</dict>
			<dict>
				<key>size</key>
				<string>20x20</string>
				<key>idiom</key>
				<string>iphone</string>
				<key>filename</key>
				<string>icon-20@3x.png</string>
				<key>scale</key>
				<string>3x</string>
			</dict>
			<dict>
				<key>size</key>
				<string>29x29</string>
				<key>idiom</key>
				<string>iphone</string>
				<key>filename</key>
				<string>icon-29.png</string>
				<key>scale</key>
				<string>1x</string>
			</dict>
			<dict>
				<key>size</key>
				<string>29x29</string>
				<key>idiom</key>
				<string>iphone</string>
				<key>filename</key>
				<string>icon-29@2x.png</string>
				<key>scale</key>
				<string>2x</string>
			</dict>
			<dict>
				<key>size</key>
				<string>29x29</string>
				<key>idiom</key>
				<string>iphone</string>
				<key>filename</key>
				<string>icon-29@3x.png</string>
				<key>scale</key>
				<string>3x</string>
			</dict>
			<dict>
				<key>size</key>
				<string>40x40</string>
				<key>idiom</key>
				<string>iphone</string>
				<key>filename</key>
				<string>icon-40@2x.png</string>
				<key>scale</key>
				<string>2x</string>
			</dict>
			<dict>
				<key>size</key>
				<string>40x40</string>
				<key>idiom</key>
				<string>iphone</string>
				<key>filename</key>
				<string>icon-40@3x.png</string>
				<key>scale</key>
				<string>3x</string>
			</dict>
			<dict>
				<key>size</key>
				<string>60x60</string>
				<key>idiom</key>
				<string>iphone</string>
				<key>filename</key>
				<string>icon-60@2x.png</string>
				<key>scale</key>
				<string>2x</string>
			</dict>
			<dict>
				<key>size</key>
				<string>60x60</string>
				<key>idiom</key>
				<string>iphone</string>
				<key>filename</key>
				<string>icon-60@3x.png</string>
				<key>scale</key>
				<string>3x</string>
			</dict>
			<dict>
				<key>size</key>
				<string>20x20</string>
				<key>idiom</key>
				<string>ipad</string>
				<key>filename</key>
				<string>icon-20-ipad.png</string>
				<key>scale</key>
				<string>1x</string>
			</dict>
			<dict>
				<key>size</key>
				<string>20x20</string>
				<key>idiom</key>
				<string>ipad</string>
				<key>filename</key>
				<string>icon-20-ipad@2x.png</string>
				<key>scale</key>
				<string>2x</string>
			</dict>
			<dict>
				<key>size</key>
				<string>29x29</string>
				<key>idiom</key>
				<string>ipad</string>
				<key>filename</key>
				<string>icon-29-ipad.png</string>
				<key>scale</key>
				<string>1x</string>
			</dict>
			<dict>
				<key>size</key>
				<string>29x29</string>
				<key>idiom</key>
				<string>ipad</string>
				<key>filename</key>
				<string>icon-29-ipad@2x.png</string>
				<key>scale</key>
				<string>2x</string>
			</dict>
			<dict>
				<key>size</key>
				<string>40x40</string>
				<key>idiom</key>
				<string>ipad</string>
				<key>filename</key>
				<string>icon-40-ipad.png</string>
				<key>scale</key>
				<string>1x</string>
			</dict>
			<dict>
				<key>size</key>
				<string>40x40</string>
				<key>idiom</key>
				<string>ipad</string>
				<key>filename</key>
				<string>icon-40@2x-ipad.png</string>
				<key>scale</key>
				<string>2x</string>
			</dict>
			<dict>
				<key>size</key>
				<string>76x76</string>
				<key>idiom</key>
				<string>ipad</string>
				<key>filename</key>
				<string>icon-76.png</string>
				<key>scale</key>
				<string>1x</string>
			</dict>
			<dict>
				<key>size</key>
				<string>76x76</string>
				<key>idiom</key>
				<string>ipad</string>
				<key>filename</key>
				<string>icon-76@2x-ipad.png</string>
				<key>scale</key>
				<string>2x</string>
			</dict>
			<dict>
				<key>size</key>
				<string>83.5x83.5</string>
				<key>idiom</key>
				<string>ipad</string>
				<key>filename</key>
				<string>icon-83.5-ipad.png</string>
				<key>scale</key>
				<string>2x</string>
			</dict>
			<dict>
				<key>size</key>
				<string>1024x1024</string>
				<key>idiom</key>
				<string>ios-marketing</string>
				<key>filename</key>
				<string>icon-1024.png</string>
				<key>scale</key>
				<string>1x</string>
			</dict>
		</array>
		<key>info</key>
		<dict>
			<key>version</key>
			<string>1</string>
			<key>author</key>
			<string>xcode</string>
		</dict>
	</dict>
	<key>launchImage</key>
	<dict>
		<key>images</key>
		<array>
            <dict>
                <key>extent</key>
                <string>full-screen</string>
                <key>filename</key>
                <string>LaunchImage-1200-Portrait-2688h@3x.png</string>
                <key>idiom</key>
                <string>iphone</string>
                <key>minimum-system-version</key>
                <string>12.0</string>
                <key>orientation</key>
                <string>portrait</string>
                <key>scale</key>
                <string>3x</string>
                <key>subtype</key>
                <string>2688h</string>
            </dict>
            <dict>
                <key>extent</key>
                <string>full-screen</string>
                <key>filename</key>
                <string>LaunchImage-1200-Landscape-2688h@3x.png</string>
                <key>idiom</key>
                <string>iphone</string>
                <key>minimum-system-version</key>
                <string>12.0</string>
                <key>orientation</key>
                <string>landscape</string>
                <key>scale</key>
                <string>3x</string>
                <key>subtype</key>
                <string>2688h</string>
            </dict>
            <dict>
                <key>extent</key>
                <string>full-screen</string>
                <key>filename</key>
                <string>LaunchImage-1200-Portrait-1792h@2x.png</string>
                <key>idiom</key>
                <string>iphone</string>
                <key>minimum-system-version</key>
                <string>12.0</string>
                <key>orientation</key>
                <string>portrait</string>
                <key>scale</key>
                <string>2x</string>
                <key>subtype</key>
                <string>1792h</string>
            </dict>
            <dict>
                <key>extent</key>
                <string>full-screen</string>
                <key>filename</key>
                <string>LaunchImage-1200-Landscape-1792h@2x.png</string>
                <key>idiom</key>
                <string>iphone</string>
                <key>minimum-system-version</key>
                <string>12.0</string>
                <key>orientation</key>
                <string>landscape</string>
                <key>scale</key>
                <string>2x</string>
                <key>subtype</key>
                <string>1792h</string>
            </dict>
            <dict>
                <key>extent</key>
                <string>full-screen</string>
                <key>filename</key>
                <string>LaunchImage-1100-Portrait-2436h@3x.png</string>
                <key>idiom</key>
                <string>iphone</string>
                <key>minimum-system-version</key>
                <string>11.0</string>
                <key>orientation</key>
                <string>portrait</string>
                <key>scale</key>
                <string>3x</string>
                <key>subtype</key>
                <string>2436h</string>
            </dict>
            <dict>
                <key>extent</key>
                <string>full-screen</string>
                <key>filename</key>
                <string>LaunchImage-1100-Landscape-2436h@3x.png</string>
                <key>idiom</key>
                <string>iphone</string>
                <key>minimum-system-version</key>
                <string>11.0</string>
                <key>orientation</key>
                <string>landscape</string>
                <key>scale</key>
                <string>3x</string>
                <key>subtype</key>
                <string>2436h</string>
            </dict>
            <dict>
                <key>extent</key>
                <string>full-screen</string>
                <key>filename</key>
                <string>LaunchImage-800-Portrait-736h@3x.png</string>
                <key>idiom</key>
                <string>iphone</string>
                <key>minimum-system-version</key>
                <string>8.0</string>
                <key>orientation</key>
                <string>portrait</string>
                <key>scale</key>
                <string>3x</string>
                <key>subtype</key>
                <string>736h</string>
            </dict>
            <dict>
                <key>extent</key>
                <string>full-screen</string>
                <key>filename</key>
                <string>LaunchImage-800-Landscape-736h@3x.png</string>
                <key>idiom</key>
                <string>iphone</string>
                <key>minimum-system-version</key>
                <string>8.0</string>
                <key>orientation</key>
                <string>landscape</string>
                <key>scale</key>
                <string>3x</string>
                <key>subtype</key>
                <string>736h</string>
            </dict>
            <dict>
                <key>extent</key>
                <string>full-screen</string>
                <key>filename</key>
                <string>LaunchImage-800-Portrait-667h@2x.png</string>
                <key>idiom</key>
                <string>iphone</string>
                <key>minimum-system-version</key>
                <string>8.0</string>
                <key>orientation</key>
                <string>portrait</string>
                <key>scale</key>
                <string>2x</string>
                <key>subtype</key>
                <string>667h</string>
            </dict>
            <dict>
                <key>extent</key>
                <string>full-screen</string>
                <key>filename</key>
                <string>LaunchImage-700-Portrait@2x.png</string>
                <key>idiom</key>
                <string>iphone</string>
                <key>minimum-system-version</key>
                <string>7.0</string>
                <key>orientation</key>
                <string>portrait</string>
                <key>scale</key>
                <string>2x</string>
            </dict>
            <dict>
                <key>extent</key>
                <string>full-screen</string>
                <key>filename</key>
                <string>LaunchImage-700-Portrait-retina-4@2x.png</string>
                <key>idiom</key>
                <string>iphone</string>
                <key>minimum-system-version</key>
                <string>7.0</string>
                <key>orientation</key>
                <string>portrait</string>
                <key>scale</key>
                <string>2x</string>
                <key>subtype</key>
                <string>retina4</string>
            </dict>
            <dict>
                <key>extent</key>
                <string>full-screen</string>
                <key>filename</key>
                <string>LaunchImage-700-Portrait~ipad.png</string>
                <key>idiom</key>
                <string>ipad</string>
                <key>minimum-system-version</key>
                <string>7.0</string>
                <key>orientation</key>
                <string>portrait</string>
                <key>scale</key>
                <string>1x</string>
            </dict>
            <dict>
                <key>extent</key>
                <string>full-screen</string>
                <key>filename</key>
                <string>LaunchImage-700-Landscape~ipad.png</string>
                <key>idiom</key>
                <string>ipad</string>
                <key>minimum-system-version</key>
                <string>7.0</string>
                <key>orientation</key>
                <string>landscape</string>
                <key>scale</key>
                <string>1x</string>
            </dict>
            <dict>
                <key>extent</key>
                <string>full-screen</string>
                <key>filename</key>
                <string>LaunchImage-700-Portrait@2x~ipad.png</string>
                <key>idiom</key>
                <string>ipad</string>
                <key>minimum-system-version</key>
                <string>7.0</string>
                <key>orientation</key>
                <string>portrait</string>
                <key>scale</key>
                <string>2x</string>
            </dict>
            <dict>
                <key>extent</key>
                <string>full-screen</string>
                <key>filename</key>
                <string>LaunchImage-700-Landscape@2x~ipad.png</string>
                <key>idiom</key>
                <string>ipad</string>
                <key>minimum-system-version</key>
                <string>7.0</string>
                <key>orientation</key>
                <string>landscape</string>
                <key>scale</key>
                <string>2x</string>
            </dict>
            <dict>
                <key>extent</key>
                <string>full-screen</string>
                <key>filename</key>
                <string>LaunchImage-Portrait.png</string>
                <key>idiom</key>
                <string>iphone</string>
                <key>orientation</key>
                <string>portrait</string>
                <key>scale</key>
                <string>1x</string>
            </dict>
            <dict>
                <key>extent</key>
                <string>full-screen</string>
                <key>filename</key>
                <string>LaunchImage-Portrait@2x.png</string>
                <key>idiom</key>
                <string>iphone</string>
                <key>orientation</key>
                <string>portrait</string>
                <key>scale</key>
                <string>2x</string>
            </dict>
            <dict>
                <key>extent</key>
                <string>full-screen</string>
                <key>filename</key>
                <string>LaunchImage-Portrait-Retina-4@2x.png</string>
                <key>idiom</key>
                <string>iphone</string>
                <key>orientation</key>
                <string>portrait</string>
                <key>scale</key>
                <string>2x</string>
                <key>subtype</key>
                <string>retina4</string>
            </dict>
            <dict>
                <key>extent</key>
                <string>full-screen</string>
                <key>filename</key>
                <string>LaunchImage-Portrait~ipad.png</string>
                <key>idiom</key>
                <string>ipad</string>
                <key>orientation</key>
                <string>portrait</string>
                <key>scale</key>
                <string>1x</string>
            </dict>
            <dict>
                <key>extent</key>
                <string>full-screen</string>
                <key>filename</key>
                <string>LaunchImage-Landscape~ipad.png</string>
                <key>idiom</key>
                <string>ipad</string>
                <key>orientation</key>
                <string>landscape</string>
                <key>scale</key>
                <string>1x</string>
            </dict>
            <dict>
                <key>extent</key>
                <string>full-screen</string>
                <key>filename</key>
                <string>LaunchImage-ipad-Portrait@2x~ipad.png</string>
                <key>idiom</key>
                <string>ipad</string>
                <key>orientation</key>
                <string>portrait</string>
                <key>scale</key>
                <string>2x</string>
            </dict>
            <dict>
                <key>extent</key>
                <string>full-screen</string>
                <key>filename</key>
                <string>LaunchImage-Landscape@2x~ipad.png</string>
                <key>idiom</key>
                <string>ipad</string>
                <key>orientation</key>
                <string>landscape</string>
                <key>scale</key>
                <string>2x</string>
            </dict>
		</array>
		<key>info</key>
		<dict>
			<key>version</key>
			<integer>1</integer>
			<key>author</key>
			<string>xcode</string>
		</dict>
	</dict>
</dict>
</plist>
