<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iconnums</key>
	<array>
		<dict>
			<key>resolution</key>
			<string>40</string>
			<key>name</key>
			<string>AppIcon20x20@2x</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>60</string>
			<key>name</key>
			<string>AppIcon20x20@3x</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>58</string>
			<key>name</key>
			<string>AppIcon29x29@2x</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>87</string>
			<key>name</key>
			<string>AppIcon29x29@3x</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>80</string>
			<key>name</key>
			<string>AppIcon40x40@2x</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>120</string>
			<key>name</key>
			<string>AppIcon40x40@3x</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>114</string>
			<key>name</key>
			<string>AppIcon57x57@2x</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>171</string>
			<key>name</key>
			<string>AppIcon57x57@3x</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>120</string>
			<key>name</key>
			<string>AppIcon60x60@2x</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>180</string>
			<key>name</key>
			<string>AppIcon60x60@3x</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>20</string>
			<key>name</key>
			<string>AppIcon20x20~ipad</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>40</string>
			<key>name</key>
			<string>AppIcon20x20@2x~ipad</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>29</string>
			<key>name</key>
			<string>AppIcon29x29~ipad</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>58</string>
			<key>name</key>
			<string>AppIcon29x29@2x~ipad</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>40</string>
			<key>name</key>
			<string>AppIcon40x40~ipad</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>80</string>
			<key>name</key>
			<string>AppIcon40x40@2x~ipad</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>57</string>
			<key>name</key>
			<string>AppIcon57x57~ipad</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>114</string>
			<key>name</key>
			<string>AppIcon57x57@2x~ipad</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>60</string>
			<key>name</key>
			<string>AppIcon60x60~ipad</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>120</string>
			<key>name</key>
			<string>AppIcon60x60@2x~ipad</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>50</string>
			<key>name</key>
			<string>AppIcon50x50~ipad</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>100</string>
			<key>name</key>
			<string>AppIcon50x50@2x~ipad</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>72</string>
			<key>name</key>
			<string>AppIcon72x72~ipad</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>144</string>
			<key>name</key>
			<string>AppIcon72x72@2x~ipad</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>76</string>
			<key>name</key>
			<string>AppIcon76x76~ipad</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>152</string>
			<key>name</key>
			<string>AppIcon76x76@2x~ipad</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>83.5</string>
			<key>name</key>
			<string>AppIcon83.5x83.5~ipad</string>
		</dict>
		<dict>
			<key>resolution</key>
			<string>167</string>
			<key>name</key>
			<string>AppIcon83.5x83.5@2x~ipad</string>
		</dict>
	</array>
</dict>
</plist>
